.order-btn {
    background: #F1CDB3;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 25px;
    margin: 8vh;
    font-size: 16px;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}